obj/project.assets.json
obj/Debug/netcoreapp2.1/aicup2019.pdb
obj/Debug/netcoreapp2.1/aicup2019.dll
obj/Debug/netcoreapp2.1/aicup2019.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/aicup2019.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/aicup2019.assets.cache
obj/Debug/netcoreapp2.1/aicup2019.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/aicup2019.AssemblyInfo.cs
obj/aicup2019.csproj.nuget.g.targets
obj/aicup2019.csproj.nuget.g.props
obj/aicup2019.csproj.nuget.dgspec.json
obj/aicup2019.csproj.nuget.cachebin/Debug/netcoreapp2.1/aicup2019.runtimeconfig.json
bin/Debug/netcoreapp2.1/aicup2019.runtimeconfig.dev.json
bin/Debug/netcoreapp2.1/aicup2019.pdb
bin/Debug/netcoreapp2.1/aicup2019.dll
bin/Debug/netcoreapp2.1/aicup2019.deps.json
.vs/aicup2019/v16/Server/sqlite3/storage.ide
.vs/aicup2019/v16/Server/sqlite3/db.lock
.vs/aicup2019/v16/.suo
.vs/aicup2019/DesignTimeBuild/.dtbcache